@import '../../../variables.scss';

.collections-wrapper{
    background-color: $grey-3;
    padding: 40px 0;
    .collections-heading{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font: $jost-13-regular;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .collections {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (max-width: $tablet)  {
    .collections-wrapper{
        .collections-heading{
        }
        .collections {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: $mobile)  {
    .collections-wrapper{
        .collections-heading{
        }
        .collections {
            grid-template-columns: 1fr;
        }
    }
}