.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

.porudctList {
  max-width: inherit;
  display: grid;
  row-gap: 60px;
  column-gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;  /* Это выравнивает каждый элемент по левому краю своей ячейки */
}