.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

.porudctList {
  max-width: inherit;
  display: grid;
  row-gap: 60px;
  column-gap: 35px;
  grid-template-columns: repeat(3, 1fr); /* 3 равных столбца */
  justify-items: start;
}

.noProducts{
  display: flex;
  width: 100%;
  margin: 10px;
  font: var(--jost-14-regular);
}