.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
  }

.porudctList{
    max-width: inherit;
    display: grid;
    row-gap: 60px;
    column-gap: 35px;
    grid-template-columns: auto auto auto;
    justify-content: start;
}