@import '../../../variables.scss';

.product-section{
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  .product-details-heading.mobile{
    display: none;
  }
}

@media screen and (max-width: $mobile)  {
  .product-section{
    flex-direction: column;
    padding-top: 20px;
    .product-details-heading.mobile{
      display: flex;
      align-items: center;
    }
  }
}