<div class="hero-section">
    <div class="hero-content">
        <h1 class="hero-heading" data-i18="heroH1">
            Custom jewelry for friends, family, and special occasions.
        </h1>
        <div class="hero-buttons">
            <button class="large hero-search-catalog" data-i18="heroButtonSearch">Search catalog</button>
            <button class="large no-border hero-care-guide" data-i18="heroButtonGuide">Read Our Care Guide</button>
        </div>
    </div>
    <div class="video-wrapper">
        <video class="hero-video" id="hero-video" preload="true" playsinline style="pointer-events: none;" autoplay loop muted>
         </video>
    </div>
</div>