  .productCard {
    min-width: 140px;
    min-height: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s; /* Анимация перехода цвета */
  }
  
  .productCard:hover {
    transform: scale(1.010);
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .image {
    width: 100%;
    text-align: center;
  }
  
  .image img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .productInfo {
    padding: 10px 0;
  }
  
  .name {
    font: var(--jost-13-regular);
    color: var(--black-1);
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  
  .info {
    font: var(--jost-14-regular);
    color: var(--grey-1);
  }
  
  .price {
    font: var(--jost-16-regular);
    color: var(--black-1);
    text-transform: uppercase;
  }