@import '../../../variables.scss';

.header{
    position: sticky;
    top: 0;
    transition: $transition-1;
    z-index: 3;
    .header-wrapper{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $black-1;
        font: $jost-13-regular;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        max-width: 1180px;
        margin: 0 auto;
    }
    .burger-icon{
        display: none;
    }
    .account-icon{
        position: relative;
        .product-counter{
            position: absolute;
            background: $black-1;
            color: $grey-3;
            font: $jost-10-medium;
            border-radius: 20px;
            padding: 0 6px;
            left: 15px;
            top: 12px;
        }
    }
    .logo{
        width: 29px;
        height: 30px;
        background: url("./assets/img/logo.svg") no-repeat;
        cursor: pointer;
    }
    .menu-navigation{
        ul{
            display: flex;
            align-items: center;
            gap: 40px;
            list-style-type: none;
            li{
                cursor: pointer;
                transition: $transition-1;
                &:hover{
                    filter: invert(89%) sepia(0%) saturate(76%) hue-rotate(174deg) brightness(92%) contrast(84%);
                }
            }
        }
    }
}

@media screen and (max-width: $desktop)  {
    .header-wrapper {
        margin: 0 20px;
    }
}

@media screen and (max-width: $tablet)  {
    .header{
        .header-wrapper{
            height: 50px;
            margin: 0 14px;
        }
        .burger-icon{
            display: block;
        }
    }
    .menu-navigation{
        ul{
            li{
                &:not(:nth-last-child(2)){
                    display: none;
                }
            }
        }
    }
}