<div class="hero-section">
    <h1 class="hero-heading">
        Custom jewerly for friends, <br>
        family, and special occasions.
        <div class="hero-buttons">
            <button class="large hero-search-catalog">Search catalog</button>
            <button class="large no-border hero-care-guide">Read Our Care Guide</button>
        </div>
    </h1>
    <div class="video-wrapper">
        <video id="hero-video" preload="true" playsinline style="pointer-events: none;" autoplay loop muted>
            <source src="../../../assets/video/hero.mp4" type="video/mp4" /> 
         </video>
    </div>
</div>