@import '../../../../variables.scss';

.product-gallery{
    grid-template-columns: auto;
    display: grid;
    flex-direction: column;
    max-width: inherit;
    gap: 20px;
    width: 100%;
    img{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: $mobile)  {
    .product-gallery{
        overflow-x: auto;
        display: grid;
        grid-auto-flow: column;
        //grid-auto-columns: calc(100%);
        img{
            width: 300px;
            height: 300px;
        }
    }
}