.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font: var(--jost-15-regular);
  width: 100%;
  transition: all var(--transition-1);
}

label {
  color: var(--grey-1);
}

.icon{
  width: 32px;
  height: 32px;
  color: var(--grey-1);
}

.inputStyle {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  padding: 0px 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 2px;
  background: var(--grey-3);
  position: relative;
  border-bottom: 2px solid var(--grey-2);
  transition: all var(--transition-1);
}

.inputStyle input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
}

/* При фокусе */
.inputStyle.inputFocus {
  border-bottom-color: black;
}

/* При наличии ошибки */
.inputStyle.inputError {
  border-bottom-color: red;
}

.message {
  /* стили для вашего сообщения */
  color: var(--grey-1);
  font: var(--jost-12-regular);
}

.errorText {
  color: red;  /* сообщение будет красным, когда есть ошибка */
}