.successMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid green;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: rgb(231, 253, 236);
  color: green;
  font: var(--jost-12-regular);
  width: 100%;
  position: relative;
  transition: all var(--transition-1);
}

.icon {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-left: 10px;  /* Добавляем немного отступа слева, чтобы иконка не налезала на текст */
}

.icon:hover {
  transition: all var(--transition-1);
  background-color: rgba(43, 255, 0, 0.1);
  border-radius: 50%;
}

.absoluteContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  max-width: fit-content;
  border-radius: 5px;
}