.container {
  max-width: 1180px;
  margin: 0 auto; /* Выравниваем контейнер по центру */
  box-sizing: border-box;
}

.bannerWrapper {
  display: flex;
  transition: 0.1s linear;
  position: relative;
  height: 380px;
  display: flex;
  margin: 40px 0;
  cursor: pointer;
}

.bannerImageLight, .bannerImageDark{
  width: 100%;
  height: 100%;
  position: absolute;
}

.light {
  color: #F4F4F2;
}

.dark {
  color: #161412;
}

.bannerLeft {
  background-position: 60% 0%;
}

.bannerLeft:hover {
  filter: brightness(120%);
}

.bannerRight {
  background-position: 0% 0%;
  flex-direction: row-reverse;
}

.bannerRight:hover {
  filter: brightness(90%);
}

.bannerTextLeft {
  padding-right: 15%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  z-index: 1;
}

.bannerTextRight {
  padding-left: 15%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  z-index: 1;
}

.bannerHeading {
  font: var(--cormorant-52-medium); /* предполагая, что у вас есть такая переменная */
}

.bannerSubheading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font: var(--jost-13-regular); /* предполагая, что у вас есть такая переменная */
}

.bannerDescription {
  font: var(--jost-14-regular); /* предполагая, что у вас есть такая переменная */
}

@media screen and (max-width: 780px) {
  .bannerWrapper {
    height: 240px;
  }

  .bannerImageLight {
    filter: brightness(0.5);
  }

  .bannerImageDark {
    filter:opacity(0.5);
  }

  .bannerWrapper{
    padding: 0px;
  }

  .banner {
    filter: opacity(0.5);
  }

  .bannerTextRight .bannerHeading, .bannerTextLeft .bannerHeading {
    font: var(--cormorant-29-medium); /* предполагая, что у вас есть такая переменная */
  }

  .bannerRight{
    flex-direction: initial;
  }

  .bannerTextRight, .bannerTextLeft {
    padding: 0 !important;
    margin: 20px;
  }
}

@media screen and (max-width: 480px) {
  .bannerWrapper {
    height: 200px;
  }
}


.whiteButton{
  color: white;
  border: 1px solid white;
  box-sizing:border-box;
}

.whiteButton:hover{
  color:black !important;
  background: white;
  border: 1px solid white;
}