.errorMessage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: rgb(253, 231, 235);
  color: red;
  font: var(--jost-12-regular);
  width: 100%;
  position: relative;
  transition: all var(--transition-1);
}

.icon {
  cursor: pointer;
  height: 16px;
  width: 16px;
  position: absolute;
  right: 8px;
}

.icon:hover{
  transition: all var(--transition-1);
  background-color: rgba(255, 21, 0, 0.1);
  border-radius: 50%;
}

.absoluteContainer {
  position: absolute;
  top: 10px;       /* отступ сверху */
  right: 10px;     /* отступ справа */
  z-index: 1000;   /* чтобы сообщение было поверх других элементов */
  max-width: fit-content; /* чтобы ширина соответствовала содержимому */
  border-radius: 5px; /* если вы хотите закруглить углы */
}