<div class="header">
    <div class="header-wrapper">
        <div class="burger-icon"></div>
        <div class="logo"></div>
        <nav class="menu-navigation">
            <ul>
                <li class="menu-barrette" data-i18="menuItemBarrette">barrette</li>
                <li class="menu-rings" data-i18="menuItemRings">rings</li>
                <li class="menu-brooch" data-i18="menuItemBrooch">brooch</li>
                <li data-i18="menuItemCollections">collections</li>
                <li><template>language-switcher</template></li>
                <li class="button dox-icon"></li>
                <li class="search-icon"></li>
                <li class="account-icon">
                    <div class="product-counter hide">12</div>
                </li>
            </ul>
        </nav>
    </div>
</div>

