    <nav class="burger-menu hide">
        <ul>
            <li class="menu-barrette" data-i18="menuItemBarrette">barrette</li>
            <li class="menu-rings" data-i18="menuItemRings">rings</li>
            <li class="menu-brooch" data-i18="menuItemBrooch">brooch</li>
            <li data-i18="menuItemCollections">collections</li>
            <li data-i18="menuItemMyAccount">my account</li>
            <button class="burger-menu-button">DO X</button>
            <li><template>language-switcher</template></li>
        </ul>
    </nav>