@import '../../../variables.scss';

.catalog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    .catalog-wrapper{
        max-width: inherit;
        display: grid;
        row-gap: 60px;
        column-gap: 35px;
        //grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        grid-template-columns: auto auto auto;
        justify-content: start;
    }
    button.shadow{
        margin: 40px auto;
    }
}

@media screen and (max-width: $desktop)  {
    .catalog{
        .catalog-wrapper{
            row-gap: 20px;
            column-gap: 8px;
           // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
}

@media screen and (max-width: $tablet)  {
    .catalog{
        padding-bottom: 10px;
        .catalog-wrapper{
            row-gap: 20px;
            column-gap: 8px;
           // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
    }
}

@media screen and (max-width: $mobile)  {
    .catalog{
        .catalog-wrapper{
            row-gap: 20px;
            column-gap: 12px;
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        }
    }
    .hide-content *:not(:nth-child(-n+8)) {
        display: none;
    }
}