@import '../../../variables.scss';

.catalog{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 0;
    .catalog-wrapper{
        max-width: inherit;
        display: grid;
        row-gap: 60px;
        column-gap: 35px;
        grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
        justify-content: start;
    }
    button.shadow{
        margin: 40px auto;
    }
}

@media screen and (max-width: $tablet)  {
    .catalog{
        margin-bottom: 0px;
        .catalog-wrapper{
            row-gap: 20px;
            column-gap: 8px;
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        }
    }
}