<div class="product-details-wrapper">
    <div class="product-details">
        <div class="product-details-heading">
            <div class = "product-details-nav">
                <div class = "arrowLeft-icon"></div>
                back
            </div>
            <h1 class="product-details-header">
                Example
            </h1>
        </div>
        <ul class="product-details-info">
            <li class="product-details-material">
                <div class = "material-icon"></div>
                Material: Silver
            </li>
            <li class="product-details-gender">
                <div class = "gender-icon"></div>
                Gender: Unisex
            </li>
            <li class="product-details-id">
                <div class = "product-icon"></div>
                Item No.: 1245
            </li>
        </ul>
        <div class="product-details-description">
            Dynamic and elusive abstraction and texture. Plays between the lines of chaos and serenity. Perfect fit for modern and contemporary styled interiors.
        </div>
        <hr class="solid">
        <div class="product-details-price-wrapper">
            <div class="product-details-price">$ 620</div>
            <div class="product-details-stock">3 in stock</div>
        </div>
        <button class="large">Contact Seller</button>
    </div>
</div>