@import '../../../../variables.scss';


.product-details-heading{
  display: flex;
  gap: 10px;
  flex-direction: column;
  .product-details-nav{
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    color: $black-1;
    font: $jost-13-regular;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.product-details-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
  .product-details{
    position: sticky;
    top: 170px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    height: fit-content;
    .product-details-description{
      color: $grey-1;
      font: $jost-14-regular;
    }
    .product-details-price-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $grey-1;
      .product-details-price{
        color: $black-1;
        font: $jost-21-regular;
      }
      .product-details-stock{
        font: $jost-14-regular;
      }
    }
    ul{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 14px;
      font: $jost-14-regular;
      list-style-type: none;
      color: $grey-1;
      li{
        display: flex;
        gap: 8px;
      }
    }
  }
}

@media screen and (max-width: $mobile)  {
  .product-details-heading{
    display: none;
    gap: 4px;
    .product-details-nav{
      font: $jost-10-regular;
    }
  }
  .product-details-wrapper{
    .product-details{
      .product-details-description{
      }
      .product-details-price-wrapper{
        .product-details-price{
        }
        .product-details-stock{
        }
      }
      ul{
        gap: 8px;
        li{
        }
      }
    }
  }
}